
/*----------------------övrig text, typsnitt-----------------------*/
body{
    font-family: 'Work Sans', sans-serif;
    background-color: lightgoldenrodyellow;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
        display: block;
    }
/*---------------------- första sidans rubrik, typsnitt -----------------------*/
div h1{
    font-family: 'Caveat', cursive;
}

/*---------------------- Navigation -----------------------*/

.nav-item{
    color: black;
}

.nav-item:hover{
    color: red;
    text-decoration: underline;
        cursor: pointer;
}

.btn.btn-link {
    display: inline-block;
    background: white;
    color:  black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

/*---------------------- Förstasidan -----------------------*/

/*-- Förstasidans text och bild --*/
.col-md{
    padding-top: 150px;
    padding-bottom: 200px;
    /*--textmellanrum, fungerar ej!!--*/
    line-height: 150%;
}

.img-frontpage{
    padding-left: 100px;
}

/*-- förstasidans marginaler över de 3 nyhterna--*/
.d-sm-flex{
    padding-top: 50px;
}
/*--fetstil på rubriken för nyheterna--*/
.new{
    font-weight: 600;
}

/*--textmellanrum, fungerar ej!!--*/
p.my-4{
    line-height: 150%;
}

/*---------------------- Produktsida -----------------------*/

.wine-text {
        font-size: small;
    }
    
    .produkter-header .titel-produkter {
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    
    .text-produkter {
        text-align: center;
        margin: 14px 8px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .card {
        margin: 15px 10px 15px;
    }
    
    .line {
        border: 0;
        height: 1px;
    }
    
    .btn-primary {
        color: #11324D;
        background-color: #C1CFC0;
        border-color: #C1CFC0;
    }
    
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open>.dropdown-toggle.btn-primary {
        color: #11324D;
        background-color: #6B7AA1;
        border-color: #6B7AA1;
    }
    
    .container {
        width: 100%;
        padding: 15px;
        margin: 20px;
        align-content: center;
    }



/*---------------------- Detaljerad produktsida -----------------------*/


.winbottle {
        align-items: center;
    }
    
    .caption {
        text-align: left;
        background-color: #ffffff;
        margin: 20px 100px 50px 100px;
        padding: 50px 50px 50px 50px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

/*---------------------- Om oss -----------------------*/

.text-about{
    padding-bottom: 300px;
    padding-left: 100px;
    padding-right: 100px;
}


/*---------------------- footer -----------------------*/
footer{
    padding: 40px;
    text-align: center;
    font-size: small;
    
}
.footer hr{
    border: 2px;
    color: #555;
    height: 3px;
    margin: 40px 0;
}

.copyright{
    text-align: center;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 20px;
}

.copyright:before{
    content: ' \00A9';
}





/* No CSS *//*# sourceMappingURL=style.css.map */
